<!DOCTYPE html>
<html>
    <head>
       	<meta content='width=device-width, initial-scale=1.0' name='viewport'>
          <meta content='text/html; charset=utf-8' http-equiv='content-type'>
            <title>Search Results for</title>
            <meta content='DocCenter' name='description'>
            <link rel="Stylesheet" href="Skins/Default/Stylesheets/Styles.css" />
            <link rel="Stylesheet" href="Skins/Default/Stylesheets/styles.css" />
            <link rel="shortcut icon" href="https://d6r6ulbtqyuv7.cloudfront.net/wicket/resource/com.appdirect.wicket.resources.Resource/spa/themes/appdirectapp/images/favicon-ver-E524860B6D15077DC12CB7437023988E.ico" type="image/x-icon">
            <meta content="authenticity_token" name="csrf-param" />
            <meta content="K/WHCa+GcY3f6YL5Hs1oAs3t5/sP4iPj5nsGLm9EK9Y=" name="csrf-token" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
    <body>
      <header id="header">
      <div class="primary-header">
        <ul class="primary-header-left-ul">
            <li class="primary-header-left-ul-li logo-li">
               <a href="http://help.appdirect.com/"> 
               <img src="images/appdirect-mark.png" class="appdirect_dark_logo">
               <img src="images/appdirect-mark-light.png" class="appdirect_light_logo display_none">
               </a>
            </li>
            <li id="hide_subnav" class="primary-header-left-ul-li subnav-li both-side-border"><a id="userguidelink_id" class="header-links userguidelink" href="#">User Guides <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                  <ul class="subnav display_none">
                        <li><a class="subnav-links" href="https://docs.appdirect.com/marketplace">Marketplace</a>
                        </li>
                        <li><a class="subnav-links" href="https://docs.appdirect.com/developer">Developer</a>
                        </li>
                  </ul>
            </li>
        </ul>
        <div class='search-bar container-search'>   
               <input style="margin-top: 0; border-radius: 0;" autocomplete="off" id="search-val" class="header-search-result" placeholder="Search Documentation Center" type="text"/>
        </div>
        <div class="header-right-div">
          <a href="javascript:void(0)" id="hide_menu">&#9776;</a></li>
          <ul class="primary-header-right-ul display_none_mobile_view">
            <li class="primary-header-right-ul-li both-side-border  top-down-border helpsupport-li">
               <a class="header-links helpsupport" href="https://docs.appdirect.com/help-support/overview">Help & Support</a>
            </li>
            <li class="primary-header-right-ul-li right-side-border">
               <a class="header-links login" href="https://docs.appdirect.com/login">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

  <div class="search-image">
  </div>

<div class="search-wrapper">
  
  <h1 class="search-heading"> </h1>
  
  <div class="search-results">
      <div class="search-result-title">  
  </div>
  <div class="search-filter">
      <h4 class="search-filter-heading"> Content Type </h4>
        <li class="search-filter-options">
            <input checked="checked" id="index_All" name="index" type="radio" value="All">
            <label for="index_All">All</label>
        </li>
        <li class="search-filter-options">
            <input id="index_api" name="index" type="radio" value="API">
            <label for="index_All">API</label>
        </li>
        <li class="search-filter-options">
            <input id="index_documentation" name="index" type="radio" value="Documentation">
            <label for="index_All">Documentation</label>
        </li>
    </div>
  </div>
</div>

<div class="footer">
  <ul class="footer_left">
    <li class="footer_left_li">
      <a class="footer_link" href="https://help.appdirect.com/">Help Center</a>
    </li>
  </ul>
  <ul class="footer_right">
    <li class="footer_right_li">
      <a class="footer_link" href="https://www.appdirect.com/about/privacy-policy">Privacy Policy</a>
    </li>
    <li class="footer_right_li">
      <a class="footer_link" href="https://www.appdirect.com/about/terms-of-service">Terms & Conditions</a>
    </li>
    <li class="footer_right_li">
      <a class="footer_link" href="https://www.appdirect.com/"> &copy; AppDirect, Inc 2017 </a> 
    </li>
  </ul>
</div>

<script type="text/javascript" src="source/javascripts/lib/jquery.js"></script>
<script type="text/javascript" src="source/javascripts/lib/jquery.mark.min.js"></script>
<script type="text/javascript" src="source/javascripts/all_nosearch.js"></script>
<script src="https://use.fontawesome.com/a52c22cf39.js"></script>
<script type="text/javascript" src="source/javascripts/search.js"></script>

</body>
</html>
