<!DOCTYPE html>
<html>
<head>
 	  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      <meta content='text/html; charset=utf-8' http-equiv='content-type'>
      <title></title>
      <meta content='DocCenter' name='description'>
      <link href="./stylesheets/screen.css" media="all" rel="stylesheet" type="text/css" />
      <link rel="shortcut icon" href="https://d6r6ulbtqyuv7.cloudfront.net/wicket/resource/com.appdirect.wicket.resources.Resource/spa/themes/appdirectapp/images/favicon-ver-E524860B6D15077DC12CB7437023988E.ico" type="image/x-icon">
      <meta content="authenticity_token" name="csrf-param" />
      <meta content="K/WHCa+GcY3f6YL5Hs1oAs3t5/sP4iPj5nsGLm9EK9Y=" name="csrf-token" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <style type="text/css">
        *{
          box-sizing: border-box;
        }
        
        a:hover
        {
            color: #80cddf;
        }
        
        body
        {
          color:rgb(86, 86, 86);
          font-family: Arial, Helvetica, sans-serif; 
          font-size: 16px;
        }
       
        p 
        {
          line-height: 1.5;
          margin: 0.5em 0px 1.25em;
       }
      </style>
      <script type="text/javascript">
    (function() {var walkme = document.createElement('script'); walkme.type = 'text/javascript'; walkme.async = true; walkme.src = 'https://cdn.walkme.com/users/7d99ba68b982471c851b1260868b2859/walkme_7d99ba68b982471c851b1260868b2859_https.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(walkme, s); window._walkmeConfig ={smartLoad:true}; })();
    </script>
    <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
        heap.load("169561623");
    </script>
<script defer="defer" type="text/javascript" src="./javascripts/jquery.js"></script>
<script defer="defer" type="text/javascript" src="./javascripts/jquery.mark.min.js"></script>
<script defer="defer" type="text/javascript" src="./javascripts/redirect.js"></script>
<script defer="defer" type="text/javascript" src="./javascripts/search.js"></script>
<script defer="defer" type="text/javascript" src="./javascripts/header.js"></script>
</head>
<body>
     <header id="header">
      <div class="primary-header">
        <ul class="primary-header-left-ul">
            <li class="primary-header-left-ul-li logo-li">
               <a href="http://help.appdirect.com/"> 
               <img src="images/appdirect-mark.png" class="appdirect_dark_logo">
               <img src="images/appdirect-mark-light.png" class="appdirect_light_logo display_none">
               </a>
            </li>
            <li id="hide_subnav" class="primary-header-left-ul-li subnav-li both-side-border"><a id="userguidelink_id" class="header-links userguidelink">User Guides</a>
                  <ul class="subnav display_none">
                        <li><a class="subnav-links" href="/appmarket/appmarket.html">AppMarket</a>
                        </li>
                        <li><a class="subnav-links" href="/appreseller/appreseller.html">AppReseller</a>
                        </li>
                        <li><a class="subnav-links" href="/appbilling/appbilling.html">AppBilling</a>
                        </li>
                        <li><a class="subnav-links" href="/appdistrib/appdistribution.html">AppDistribution</a>
                        </li>
                  </ul>
            </li>
        </ul>
          <div class='search-bar container-search'>
                <a href="javascript:void(0)" id="search_menu">
                    <img id ="search_image" class="search_image" src="./images/magnifying_glass.png">
                </a></li>
                <input style="margin-top: 0;" autocomplete="off" id="search-val" class="header-search-result search-bar-width" placeholder="Search Documentation Center" type="text"/>
        </div>
        <div class="header-right-div">
          <a href="javascript:void(0)" id="hide_menu">&#9776;</a></li>
          <ul class="primary-header-right-ul display_none_mobile_view">
               <li class="primary-header-right-ul-li both-side-border top-down-border training-li">
             <a class="header-links training" href="/training/training.html">Training</a>
            </li>

            <li class="primary-header-right-ul-li both-side-border  top-down-border helpsupport-li">
               <a class="header-links helpsupport" href="https://docs.appdirect.com/help-support/overview">Help & Support</a>
            </li>
            <li class="primary-header-right-ul-li right-side-border">
               <a class="header-links login" href="https://docs.appdirect.com/login">Log In</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

<div class="search-image">
</div>

<div class="search-wrapper">
  <h1 class="search-heading"> </h1>
  <div class="search-results">
      <div class="show-filters">
          <span>Filter</span>
      </div>
      <div class="search-result-title">  
      </div>
  <div class="mobile-filters">
      <div class="back-to-results">
          <a>< </a>Back to Results
      </div>
      <div class="search-filter-mobile">
          <h4 class="search-filter-heading"> Content Type </h4>
        <li class="search-filter-options">
            <input class="index_All" id="All_Mobile" name="index_mobile" type="radio">
            <label for="All_Mobile">All</label>
        </li>
        <li class="search-filter-options">
            <input class="index_api" name="index_mobile" type="radio" id="API_Mobile">
            <label for="API_Mobile">API</label>
        </li>
        <li class="search-filter-options">
            <input class="index_documentation" name="index_mobile" type="radio" id="Documentation_Mobile">
            <label for="Documentation_Mobile">Documentation</label>
        </li>
    </div>
        <div class="product-filter-mobile">
          <h4 class="product-filter-heading">Product</h4>
          <li class="product-filter-options">
               <input class="index_appmarket" name="product" type="checkbox" id="AppMarket_Mobile">
               <label for="AppMarket_Mobile">AppMarket</label>
          </li>
          <li class="product-filter-options">
               <input class="index_appbilling" name="product" type="checkbox" id="AppBilling_Mobile">
               <label for="AppBilling_Mobile">AppBilling</label>
          </li>
          <li class="product-filter-options">
               <input class="index_appdistribution" name="product" type="checkbox" id="AppDistribution_Mobile">
               <label for="AppDistribution_Mobile">AppDistribution</label>
          </li>
          <li class="product-filter-options">
               <input class="index_appreseller" name="product" type="checkbox" id="AppReseller_Mobile">
               <label for="AppReseller_Mobile">AppReseller</label>
          </li>
          <li class="product-filter-options">
               <input class="index_appinsights" name="product" type="checkbox" id="AppInsights_Mobile">
               <label for="AppInsights_Mobile">AppInsights</label>
          </li>
          <li class="product-filter-options">
               <input class="index_appwise" name="product" type="checkbox" id="AppWise_Mobile">
               <label for="AppWise_Mobile">AppWise</label>
        </div>
          <div class="sort-filter-mobile">
            <h4 class="sort-filter-heading">Sort By Date</h4>
          <li class="sort-filter-options">
              <input class="index_new" name="index_date_mobile" type="radio" id="New_Mobile">
              <label for="New_Mobile">Newest First</label>
          </li>
          <li class="sort-filter-options">
              <input class="index_old" name="index_date_mobile" type="radio" id="Old_Mobile">
              <label for="Old_Mobile">Oldest First</label>
          </li>
        </div>
  </div>
  <div class="filters">
      <div class="search-filter">
            <h4 class="search-filter-heading">Content Type</h4>
          <li class="search-filter-options">
              <input class="index_All" name="index" type="radio" id="All">
              <label for="All">All</label>
          </li>
          <li class="search-filter-options">
              <input class="index_api" name="index" type="radio" id="API">
              <label for="API">API</label>
          </li>
          <li class="search-filter-options">
              <input class="index_documentation" name="index" type="radio" id="Documentation">
              <label for="Documentation">Documentation</label>
          </li>
          </div>
        <div class="product-filter">
            <h4 class="product-filter-heading">Product</h4>
          <li class="product-filter-options">
               <input class="index_appmarket" name="product" type="checkbox" id="AppMarket">
               <label for="AppMarket">AppMarket</label>
          </li>
          <li class="product-filter-options">
               <input class="index_appbilling" name="product" type="checkbox" id="AppBilling">
               <label for="AppBilling">AppBilling</label>
          </li>
          <li class="product-filter-options">
               <input class="index_appdistribution" name="product" type="checkbox" id="AppDistribution">
               <label for="AppDistribution">AppDistribution</label>
          </li>
          <li class="product-filter-options">
               <input class="index_appreseller" name="product" type="checkbox" id="AppReseller">
               <label for="AppReseller">AppReseller</label>
          </li>
          <li class="product-filter-options">
               <input class="index_appinsights" name="product" type="checkbox" id="AppInsights">
               <label for="AppInsights">AppInsights</label>
          </li>
          <li class="product-filter-options">
               <input class="index_appwise" name="product" type="checkbox" id="AppWise">
               <label for="AppWise">AppWise</label>
          </li>
       </div>
        <div class="sort-filter">
            <h4 class="sort-filter-heading">Sort By Date</h4>
          <li class="sort-filter-options">
              <input class="index_new" name="index_date" type="radio" id="New">
              <label for="New">Newest First</label>
          </li>
          <li class="sort-filter-options">
              <input class="index_old" name="index_date" type="radio" id="Old">
              <label for="Old">Oldest First</label>
          </li>
        </div>
     </div>
    </div>
</div>

<a href="#" id="back-to-top" title="Back to top">Top</a>       

<div class='footer'>
  <ul class="footer_left">
    <li class="footer_left_li">
      <a class="footer_link" href="https://help.appdirect.com/">Help Center</a>
    </li>
  </ul>
  <ul class="footer_right">
    <li class="footer_right_li">
      <a class="footer_link" href="https://www.appdirect.com/about/privacy-policy">Privacy Policy</a>
    </li>
    <li class="footer_right_li">
      <a class="footer_link" href="https://www.appdirect.com/about/terms-of-service">Terms & Conditions</a>
    </li>
    <li class="footer_right_li">
      <a class="footer_link" href="https://www.appdirect.com/"> &copy; AppDirect, Inc <script type="text/javascript"> document.write(new Date().getFullYear()) </script> </a> 
    </li>
  </ul>
</div>
</body>
</html>
